@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 100% 50%; /* Red */
    --primary-foreground: 0 0% 98%;
    --secondary: 30 100% 50%; /* Orange */
    --secondary-foreground: 0 0% 9%;
    --muted: 60 100% 50%; /* Yellow */
    --muted-foreground: 0 0% 9%;
    --accent: 120 100% 50%; /* Green */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 100% 50%; /* Blue */
    --input: 240 100% 50%;
    --ring: 270 100% 50%; /* Indigo */
    --chart-1: 0 100% 50%; /* Red */
    --chart-2: 30 100% 50%; /* Orange */
    --chart-3: 60 100% 50%; /* Yellow */
    --chart-4: 120 100% 50%; /* Green */
    --chart-5: 240 100% 50%; /* Blue */
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 300 100% 50%; /* Violet */
    --primary-foreground: 0 0% 9%;
    --secondary: 270 100% 50%; /* Indigo */
    --secondary-foreground: 0 0% 98%;
    --muted: 240 100% 50%; /* Blue */
    --muted-foreground: 0 0% 98%;
    --accent: 180 100% 50%; /* Cyan */
    --accent-foreground: 0 0% 9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 100% 50%; /* Green */
    --input: 120 100% 50%;
    --ring: 60 100% 50%; /* Yellow */
    --chart-1: 300 100% 50%; /* Violet */
    --chart-2: 270 100% 50%; /* Indigo */
    --chart-3: 240 100% 50%; /* Blue */
    --chart-4: 180 100% 50%; /* Cyan */
    --chart-5: 120 100% 50%; /* Green */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
